body{
background-color:#385EA3;
font-family:"Arial";
}
h1{
text-align:center;
font-size:24px;
}
li{
font-family:"Arial";
font-size:14px;
list-style: none;
text-align:center;
}
div {
  background: #fff;
  margin-top: 10px;
  margin-left:auto;
  margin-right:auto;
  width: 300px;
  padding: 30px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  align:center;
}
.red{
color:red;
}
.blue{
color:blue;
}
.yellow{
color:yellow;
}
.green{
color:green;
}
.pink{
color:pink;
}