h1
{
text-align:center;
color: red;
font-size:12pt;
}

h2

{
text-align:center;
color: green;
font-size:12pt;
}

h3

{
text-align:center;
color: yellow;
font-size:12pt;
}

h4

{
text-align:center;
color: blue;
font-size:12pt;
}

h5

{
text-align:center;
color: orange;
font-size:12pt;
}

h6

{
text-align:center;
color: cyan;
font-size:12pt;
}


	
